<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="MvvmCross.HotTuna.CrossCore" version="3.1.2-beta1" targetFramework="MonoAndroid44" />
  <package id="MvvmCross.HotTuna.MvvmCrossLibraries" version="3.1.2-beta1" targetFramework="MonoAndroid44" />
  <package id="MvvmCross.HotTuna.Plugin.Json" version="3.1.2-beta1" targetFramework="MonoAndroid44" />
  <package id="MvvmCross.HotTuna.Plugin.WebBrowser" version="3.1.2-beta1" targetFramework="MonoAndroid44" />
  <package id="MvvmCross.HotTuna.StarterPack" version="3.1.2-beta1" targetFramework="MonoAndroid44" />
  <package id="MvvmCross.PortableSupport" version="3.1.2-beta1" targetFramework="MonoAndroid44" />
  <package id="Newtonsoft.Json" version="6.0.1" targetFramework="MonoAndroid44" />
  <package id="Xamarin.Android.Support.v4" version="19.0.2" targetFramework="MonoAndroid44" />
  <package id="Xamarin.Forms" version="1.0.6186" targetFramework="MonoAndroid44" />
</packages>