<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Bcl" version="1.1.9" targetFramework="portable-net45+win+wp80+MonoAndroid10+MonoTouch10" />
  <package id="Microsoft.Bcl.Build" version="1.0.14" targetFramework="portable-net45+win+wp80+MonoAndroid10+MonoTouch10" />
  <package id="Microsoft.Net.Http" version="2.2.22" targetFramework="portable-net45+win+wp80+MonoAndroid10+MonoTouch10" />
  <package id="modernhttpclient" version="2.0.1" targetFramework="portable-net45+win+wp80+MonoAndroid10+MonoTouch10" />
  <package id="MvvmCross" version="3.1.2-beta1" targetFramework="portable-net45+win+wp80+MonoAndroid10+MonoTouch10" />
  <package id="MvvmCross.HotTuna.CrossCore" version="3.1.2-beta1" targetFramework="portable-net45+win+wp80+MonoAndroid10+MonoTouch10" />
  <package id="MvvmCross.HotTuna.MvvmCrossLibraries" version="3.1.2-beta1" targetFramework="portable-net45+win+wp80+MonoAndroid10+MonoTouch10" />
  <package id="MvvmCross.HotTuna.Plugin.Json" version="3.1.2-beta1" targetFramework="portable-net45+win+wp80+MonoAndroid10+MonoTouch10" />
  <package id="MvvmCross.HotTuna.Plugin.WebBrowser" version="3.1.2-beta1" targetFramework="portable-net45+win+wp80+MonoAndroid10+MonoTouch10" />
  <package id="MvvmCross.HotTuna.StarterPack" version="3.1.2-beta1" targetFramework="portable-net45+win+wp80+MonoAndroid10+MonoTouch10" />
  <package id="MvvmCross.PortableSupport" version="3.1.2-beta1" targetFramework="portable-net45+win+wp80+MonoAndroid10+MonoTouch10" />
  <package id="Newtonsoft.Json" version="6.0.1" targetFramework="portable-net45+win+wp80+MonoAndroid10+MonoTouch10" />
  <package id="Xamarin.Forms" version="1.0.6186" targetFramework="portable-net45+win+wp80+MonoAndroid10+MonoTouch10" />
</packages>